@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #140502;
    --background: #fdf3f0;
    --primary: #e7461c;
    --secondary: #86f284;
    --accent: #5deebb;
  }
}

@layer components {
}

@layer utilities {
}
